.Listing {
    display: grid;
}

.concertInfo {
    background-color: #cb5dff;
    border-radius: 20px;
    color: white;
    min-width: 500px;
    min-height: 35px;
    display: grid;
    align-content: center;
    grid-column: 1;
    /* box-shadow: inset -5px -5px 10px #926295; */
}

.tickets {
    grid-column: 2;
    margin-left: 20px;
}

.saveConcert {
    grid-column: 3;
    margin-left: 20px;
}

.button {
    background-color: white;
    border-radius: 20px;
    border-color: #f1ee8e;
    border-style: solid;
    border-width: 4px;
    padding: 8px;
    /* box-shadow: inset -5px -5px 10px #e2e2d7; */
}

.button:hover {
    border-color: rgb(244, 214, 219);
}