.background {
    background-position: top center;
    background-size: cover;
    align-content: center;
    height: 100vh;
    width: 390vh;
}
.Login {
    max-width: 550px;
    min-height: 60vh;
    background-color: white;
    display: inline-grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    border-radius: 20px;
}

.left-side {
    grid-column: 1;
    background: linear-gradient(90deg,#f1ee8e, #e1a2ff);
    box-shadow:  inset -4px -4px 6px 0 rgba(255,255,255,.4), inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    border-radius: 20px;
    color: white;
    align-content: center;
}

.right-side {
    grid-column: 2;
    color: #e1a2ff;
    align-content: center;
}

.app-name {
    font-style: italic;
}

.Welcome {
    font-size: calc(18px + 2vmin);
    font-weight: 700;
    margin: 15px;
}

.UserLogin {
    font-weight: 600;
    font-size: x-large;
}

.login-info {
    background: linear-gradient(90deg,#f1ee8e, #e1a2ff);
    height: 15px;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.login-info::placeholder {
    color: white;
    font-weight: 700;
}

input[type=text] {
    color: white;
    font-weight: 700;
    border: none;
}