.SavedConcerts {
    
        display: flex;
        align-content: center;
        justify-content: center;
        overscroll-behavior: none;
      
      }

.title {
    color:#cb5dff;
    text-shadow: 1px 1px 1px #c6c6c6, 1px 2px 1px #919191;
    font-size: 36px;
    font-weight: bolder;
    position: fixed;
    top: 90px;
}