.Concerts {
    display: grid;
    margin-bottom: 25px;
  
}

.EventInfo {
    
    grid-column: 1;
    /* box-shadow: inset -5px -5px 10px #926295; */
}

.Delete {
    grid-column: 2;
   
}


.delete-button {
    background-color: white;
    border-radius: 20px;
   
    border-style: solid;
    border-width: 4px;
    /* box-shadow: inset -5px -5px 10px #e2e2d7; */
}

.button:hover {
    border-color: rgb(244, 214, 219);
}